{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/aisweb/aisweb.css' %}">

<form method="post" class="search-form">
    {% csrf_token %}
    <label for="icaocode" class="label">Código ICAO (separados por vírgula para múltiplos ICAOs)</label>
    <input type="text" id="icaocode" name="icaocode" required class="input">
    <button type="submit" class="btn">Pesquisar</button>
</form>

<!-- Error Feedback Section -->
{% if error %}
<div class="error-box">
    <strong>Error:</strong> {{ error }}
</div>
{% endif %}

{% if not error %}
{% for sun_info, metar_taf, card_list in combined_data %}
    <h2 class="icaocode-title">{{ sun_info.icaocode }}</h2>
<!-- Sunrise and Sunset Info -->
<h2 class="section-title">Nascer/Pôr do Sol</h2>
<table class="info-table">
    <thead>
        <tr>
            <th>Código ICAO</th>
            <th>Data</th>
            <th>Dia da Semana</th>
            <th>Nascer do Sol</th>
            <th>Pôr do Sol</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ sun_info.icaocode }}</td>
            <td>{{ sun_info.date }}</td>
            <td>{{ sun_info.day_of_week }}</td>
            <td>{{ sun_info.sunrise }}</td>
            <td>{{ sun_info.sunset }}</td>
        </tr>
    </tbody>
</table>

<!-- METAR and TAF Info -->
<h2 class="section-title">METAR e TAF</h2>
<table class="info-table">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Informação</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>METAR</td>
            <td>{{ metar_taf.METAR }}</td>
        </tr>
        <tr>
            <td>TAF</td>
            <td>{{ metar_taf.TAF }}</td>
        </tr>
    </tbody>
</table>

<!-- Cards Information -->
<h2 class="section-title">Cartas Aeronáuticas</h2>
<table class="info-table full-width">
    <thead>
        <tr>
            <th>#</th>
            <th>Localidade</th>
            <th>Tipo</th>
            <th>Carta</th>
            <th>Amdt</th>
            <th>Data de Efetivação</th>
            <th>Uso</th>
        </tr>
    </thead>
    <tbody>
        {% for card in card_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ card.localidade }}</td>
            <td>{{ card.tipo }}</td>
            <td>{{ card.carta }}</td>
            <td>{{ card.amdt }}</td>
            <td>{{ card.data_efetivacao }}</td>
            <td>{{ card.uso }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<hr class="section-separator">
{% endfor %}
{% endif %}
